.about {
    overflow: hidden;

    &__container {
        height: 650px;
        padding-top: 75px;
    }

    &__title {
        margin-bottom: 20px;
    }

    &__elem {
        top: 83px;
    }

    &__text {
        font-size: 22px;
        text-align: start;
        color: #5f5f5f;

        span {
            font-weight: 600;
            color: #181818;
        }

        &:last-of-type {
            margin-bottom: 0;
        }
    }

    &__car {
        position: absolute;
        width: 80px;

        &--first {
            top: 85px;
            right: -118px;
        }

        &--sec {
            top: 327px;
            right: -40px;
        }

        &--third {
            top: 204px;
            left: -92px;
        }

        &--fourth {
            bottom: 12px;
            right: -111px;
        }

        &--fiveth {
            bottom: 26px;
            left: -167px;
        }
    }
}

@media(min-width: 768px) {
    .about {
        &__container {
            padding-top: 85px;
        }

        &__title {
            margin-bottom: 35px;
        }

        &__text {
            font-size: 24px;
        }

        &__elem {
            top: 104px;
        }

        &__car {
            &--first {
                top: 95px;
                right: -102px;
            }

            &--sec {
                top: 328px;
                right: -6px;
            }

            &--third {
                top: 167px;
                left: -126px;
            }

            &--fourth {
                bottom: 45px;
                right: 103px;
            }

            &--fiveth {
                bottom: 63px;
                left: 25px;
            }
        }
    }
}

@media(min-width: 1200px) {
    .about {
        &__container {
            height: 800px;
            padding: 70px 0;
        }

        &__elem {
            top: 101px;
        }

        &__text {
            font-size: 35px;
        }

        &__car {
            width: 120px;

            &--first {
                top: 176px;
                right: -102px;
            }

            &--sec {
                top: 388px;
                right: 65px;
            }

            &--third {
                top: 217px;
                left: -156px;
            }

            &--fourth {
                bottom: 35px;
                right: 11px;
            }

            &--fiveth {
                bottom: 41px;
                left: 80px;
            }
        }
    }
}