.cooperation {
	&__container {
		padding: 85px 0;
	}

	&__list {
		margin: 40px 0 40px 10%;

		li {
			position: relative;
			margin-bottom: 15px;
			font-size: 19px;
			color: #5f5f5f;
			
			&::before {
				content: "";
				position: absolute;
				top: 2px;
				left: -36px;
				background-image: url(../../images/menu-icons/icon-arrow.svg);
				background-repeat: no-repeat;
				width: 24px;
				height: 24px;
			}
		}
	}

	&__certificate {
		width: 100%;
    height: 450px;
		border-radius: 10px;
	}

	&__elem {
		top: 93px;
		left: 0;
	}

}

@media(min-width: 768px) {
	.cooperation {
		&__list {
			li {
				font-size: 24px;

				&::before {
					top: 5px;
					left: -56px;
				}
			}
		}

		&__elem {
			top: 104px;
			left: 12px;
		}

		&__certificate {
			width: auto;
			height: auto;
		}
	}
}

@media(min-width: 1200px) {
	.cooperation {
		&__elem {
			top: 116px;
		}

		&__block {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		&__list {
			margin: 40px 0 40px 5%;

			li {
				margin-bottom: 25px;
				font-size: 30px;
			}
		}
	}
}